.filter-form {
    width: 450px;
    height: 160px;
    display: flex;
    gap: 30px;
    border: 0.5px solid #ABABAB;
    border-radius: 22px;
    padding-top: 18px;
    background-color: #CCE3DE;
    margin-top: 82px;
    margin-bottom: 60px;
}

.block-primary {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 25px; 

}



.field-text > input, .field-select > select {
    width: 185px;
    height: 28px;
    
    padding-left: 12px;
    margin-left: 10px;
    border: solid 0.5px #ABABAB; 
    border-radius: 22px;

}

.field-text > p, .field-select > p, .field-range > p {
    font-size: 14px;
    font-weight: bold; 
    line-height: 15px;
    margin-bottom: 5px;
}

.block-secondary {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.field-range {
    min-height: 48px; 
}

.range-slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 185px;
    height: 7px;
    border: solid 0.5px #ABABAB;
    border-radius: 22px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: #A4C3B2;
    border-radius: 50%;
    border: solid 1px black; 
}

.range-labels {
    width: 185px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 7px;
    font-size: 12px;
    font-style:oblique;
    line-height: 12px;
}

